@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;400&family=Josefin+Sans&family=Montserrat&family=Poppins&family=Roboto+Slab:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Matter';
  src: url('/matter.ttf') format('truetype');
}
@font-face {
  font-family: 'Olive';
  src: url('/olive.ttf') format('truetype');
}
@font-face {
  font-family: 'Space Mono';
  src: url('/space.ttf') format('truetype');
}
@font-face {
  font-family: 'Oswald';
  src: url('/oswald.ttf') format('truetype');
}
@font-face {
  font-family: 'poppi';
  src: url('/poppins.ttf') format('truetype');
}
@font-face {
  font-family: 'Josefin';
  src: url('/jose.ttf') format('truetype');
}
@font-face {
  font-family: 'Comfort';
  src: url('/comfort.ttf') format('truetype');
}


.jose{font-family: 'Josefin Sans';}
.slab{    font-family: 'Roboto Slab', serif;}
.mont{    font-family: 'Montserrat', monospace;}
.robo{font-family: 'Matter', 'Roboto', 'Courier New', Courier, monospace;}
.mono{font-family: 'Space Mono', monospace}
.poppins{font-family: 'Poppins';}

.page {
  font-family: 'Roboto';
  @apply bg-back h-full;
}


*{
  scroll-behavior: smooth;
}

.top-h{
  top: 80vh;
}

.min-h-screen--32{
  height: calc(100vh - 8rem);
}

.max-h-100{
  max-height: 35rem;
}




.z-100{
  z-index: 100;
}

.phase{
  pointer-events: none;
}

/* this gives error in npm run build */

/* .bg-grado{
  background-image: linear-gradient(to down, red, blue);
}
 */


.centerify{
  transform: translate(-50%, -50%);
}


.ossi{
  font-family: 'Oswald';
}

.lighten{
  backdrop-filter: brightness(140%);
}
.blur-bd{
  backdrop-filter: blur(5px);
}

.sep{
  backdrop-filter: hue-rotate(30deg);
}

h1{
  font-family: 'Space Mono', 'Courier New', Courier, monospace;
}

.z-60{
  z-index:60
}

.text-xxl{
  font-size: 14rem;
}

.bg-dotted{
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 1px, 
    transparent 1px
  );
}

.bg-gradient{
  background-image: linear-gradient(to bottom right,
  rgba(42, 140, 170, 0.05),
  rgba(38, 38, 38, 0.1)
  );
  @apply bg-neutral-800
}

.glow{
  text-shadow: 0px 0px 18px rgb(62, 156, 199, 0.8) ;
}

.fade-into-bg{
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1.0) 20%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.1) 75%,  transparent 100%);
}

.fade-right{
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 20%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0.1) 75%,  transparent 100%);
  /* mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 50%, transparent 80%); */
}

.big-shadow{
  /* box-shadow: 0px 0px 50px 50px #1f1f1f; */
  box-shadow: 0px -20px 40px 80px #1f1f1f;
} 
.mid-shadow{
  box-shadow: 0px 0px 10px 10px #1f1f1f;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.bouncy {
  animation: bounce 1s infinite ease-in-out;
}

@keyframes scalefade {
  0% {
    opacity: 0%;
    scale: 90%;
  }
  100% {
    opacity: 100%;
    scale: 100%;
  }
}

.scalefade {
  animation: scalefade 0.1s ease-in;
}


/* .customScroll{ */


      /* width */
    .customScroll &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    .customScroll &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
      margin: 5px;
    }

    /* Handle */
    .customScroll &::-webkit-scrollbar-thumb {
      background: #4d4d4d;
      border-radius: 10px;
    }

    /* Handle on hover */
    .customScroll &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
/* } */

/* width */
&::-webkit-scrollbar {
  width: 5px;
}

/* Track */
&::-webkit-scrollbar-track {
  background: #1f1f1f;
}

/* Handle */
&::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 10px;
}

/* Handle on hover */
&::-webkit-scrollbar-thumb:hover {
  background: #555;
}